.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.Title {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #333333;
}

.logoutButton {
  position: absolute;
  right: 20px;
  top: 50%;
  padding: 10px 20px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.logoutButton:active {
  transform: translateY(0);
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonAdd {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.buttonAdd:hover {
  background-color: #4cae4c;
}

.buttonDetails {
  padding: 10px 20px;
  background-color: #5bc0de;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.patientList {
  list-style-type: none;
  padding: 0;
}

.patientList li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.medecin-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  gap: 10px;
}

.simulationButton {
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.simulationButton:hover {
  background-color: #45a049;
}